name: Release

on:
  workflow_call:
  release:
    types:
      - published
  pull_request:
    paths:
      - '.github/workflows/release.yml'
  push:
    tags:
      - 'v*'

#concurrency:
#  group: ${{ github.workflow }}-${{ github.ref }}
#  # Don't cancel releases
#  # https://docs.github.com/en/actions/how-tos/writing-workflows/choosing-when-your-workflow-runs/control-the-concurrency-of-workflows-and-jobs
#  cancel-in-progress: ${{ !contains(github.ref, 'release/')}}

# Disable permissions for all available permissions
# https://docs.github.com/en/actions/how-tos/writing-workflows/choosing-what-your-workflow-does/controlling-permissions-for-github_token#defining-access-for-the-github_token-permissions
permissions: {}

jobs:
#  build_wheels:
#    name: Build wheels on ${{ matrix.os }}
#    runs-on: ${{ matrix.os }}
#    strategy:
#      fail-fast: false
#      matrix:
#        os: [ubuntu-latest, windows-latest, macos-latest]
#
#    steps:
#      - uses: actions/checkout@v5
#      - uses: astral-sh/setup-uv@v7
#      - name: Build wheels
#        uses: pypa/cibuildwheel@v3.0.1
#        env:
#          CIBW_BUILD: cp312-* cp313-*
#          CIBW_SKIP: '*-win32 *-manylinux_i686 *-musllinux*'
#          CIBW_ARCHS_MACOS: "x86_64 arm64"
#          CIBW_TEST_COMMAND: >
#            pytest {project}/tests
#      - name: Upload wheels
#        uses: actions/upload-artifact@v5
#        with:
#          name: wheels-${{ matrix.os }}
#          path: ./dist/*.whl
  build_wheels:
    name: Build pure Python wheel
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - run: uv build --wheel
      - name: Upload wheel
        uses: actions/upload-artifact@v5
        with:
          name: wheel
          path: ./dist/*.whl

  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - run: uv build --sdist
      - name: Upload sdist
        uses: actions/upload-artifact@v5
        with:
          name: sdist
          path: ./dist/*.tar.gz

  publish_to_testpypi:
    name: Publish to test PyPI through trusted publishing
    runs-on: ubuntu-latest
    needs:
      - build_wheels
      - build_sdist
    environment:
      name: testpypi
    permissions:
      id-token: write
    if: ${{ github.ref_type == 'tag' }}

    steps:
      - uses: actions/download-artifact@v6
        with:
          path: dist
          merge-multiple: true
      - name: Publish package distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
          repository-url: https://test.pypi.org/legacy/

  publish_to_pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs:
      - build_wheels
      - build_sdist
    if: ${{ github.event_name == 'release'}}
    environment:
      name: pypi
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v6
        with:
          path: dist
          merge-multiple: true
      - name: Publish package distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
